/* footer */
.footer{
    color:#FFEBEB;
    padding:12px;
    background-color: #1e2123;
  
   }
  
   .footer a{
    text-decoration: none;
    color:#FFEBEB;
    padding:35px;
   }
  
   .footer a:hover {
    color:#d9dce4;
    border-bottom: 4px solid #D6E8DB;
   }